<h1>Name:  
	<% if (typeof full_name !== 'undefined') { %> 
		<%= full_name %>
	<% } %>
</h1>

<div class="d-flex flex-row">
<a href="/AssetTracker" id="tracker" class="btn btn-primary">Asset Tracker</a>
<a href="/AssetTracker/InsertForm" id="tracker" class="btn btn-primary">Insert Form</a>
<a href="/AssetTracker/UserAccount" id="insert" class="btn btn-primary">Account Services</a>
<a href="/AssetTracker/LoginServices?logout=1" id="logout" class="btn btn-primary ml-auto">Log Out</a>
</div>

<hr>
