<!DOCTYPE html>
<html>
<head>
	<title>Asset Tracker</title>
	<% include includes/bootstrapHeader.ejs %>
	<style type="text/css">
		<% include main.css %>
	</style>
</head>
<body>
	<div id="main_div" class="container">
		<% include includes/header.ejs %>

		<div>
			<label>Search by Asset Name:</label><br>
			<input id='search_context' type='text' placeholder='Couch'><br>

			<label>Order By:</label><br>
			<select id='order_by'>
				<option value='1'>Asset Name</option>
				<option value='2'>Quantity</option>
				<option value='3'>Unit Value</option>
			</select><br><br>

			<button id="filter" type="submit">Search</button><br>
		</div><hr>



		<form id="asset_form">
		<button type='submit' name='update' onclick="return UpdateAssets();">Update Assets</button>
		<button type='submit' name='delete' onclick="return DeleteAssets();">Delete Assets</button>

		<table class='table'><p></p>
			<thead class='thead-dark'><tr class='border-black'>
				<th class='col text-nowrap'>Asset Name</th>
				<th class='col text-nowrap'>Quantity</th>
				<th class='col text-nowrap'>Unit Value</th>
				<th class='col text-nowrap'>Total Value</th>
				</tr>
			</thead>
			<tbody id="assets">


			</tbody>
			<thead class='thead-dark'><tr class='border-black'><th scope='row'>Total Asset Worth</th>
				<th colspan="2"></th>
				<th id="total"></th></tr>
			</thead>
		</table>

		<button type='submit' name='update' onclick="return UpdateAssets();">Update Assets</button>
		<button type='submit' name='delete' onclick="return DeleteAssets();">Delete Assets</button>
		</form>

		<% include includes/footer.ejs %>
		<% include includes/bootstrapFooter.ejs %>

		<script>
			function check (id) {
				$("#" + id).prop("checked", true);
			}

			function UpdateAssets() {
				$.get("/AssetTracker/update?" + $("form").serialize(), function(data) {
					GetAssets("", 1);
					alert(AssetErrors[data]);
				});

				return false;
			}

			function DeleteAssets() {
				if(confirm("Are you sure you want to delete the selected items?")) {
					$.get("/AssetTracker/delete?" + $("form").serialize(), function(data) {
						GetAssets("", 1);
						alert(AssetError[data]);
					});
				}
					
				return false;
			}

			function GetAssets(search_string, order) {
				$.get("/AssetTracker/AssetList", { search_context: search_string , order_by : order }, 
					function(data) {
						var table = "";
						var total = 0;
						data.forEach( function(element) {
							var uniqueName = element.asset_id + "-" + element.asset_value;
							table += "<tr class=\"border-black\"><th scope=\"row\">";
							table += "<input type=\"checkbox\" name=\"assets[]\" value=\"";
							table += uniqueName + "\" id=\"" + uniqueName + "\">";
							table += "<label class='tab'>" + element.asset_name + "</label>";
							table += "</th><td><input type=\"number\" class=\"light-grey tab-sm\" ";
							table += "value=\"" + element.quantity + "\" name=\"" + uniqueName + "[quantity]\" ";
							table += "onchange=\"check('" + uniqueName + "')\">";
							table += "</td><td><input type=\"number\" class=\"light-grey tab-sm\" ";
							table += "value=\"" + element.asset_value + "\" name=\"" + uniqueName + "[asset_value]\" ";
							table += "onchange=\"check('" + uniqueName + "')\">";
							table += "</td><td>";
							table += "$" + element.quantity * element.asset_value;
							table += "</td></tr>";

							total += element.quantity * element.asset_value;
						});
						$("#assets").html(table);
						$("#total").html("$" + total);
				});
			}
			$(document).ready(
				function () {
				GetAssets("", 1);

				$("#filter").click(function() {
					var order = $("#order_by option:selected").val();
					var search_string = $("#search_context").val();
					GetAssets(search_string, order);	
				});
			});
		</script>
	</div>
</body>
</html>