<!DOCTYPE html>
<html>
<head>
	<title>Asset Tracker</title>
	<% include includes/bootstrapHeader.ejs %>
</head>
<body>
	<% include includes/header.ejs %>

	<% include includes/footer.ejs %>
	<% include includes/boostrapFooter.ejs %>
</body>
</html>