<!DOCTYPE html>
<html>
<head>
	<title>Asset Tracker</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<% include includes/bootstrapHeader.ejs %>
</head>
<body>
	<% include includes/header.ejs %>

	<% include includes/footer.ejs %>
	<% include includes/bootstrapFooter.ejs %>
</body>
</html>