<!DOCTYPE html>
<html>
<head>
	<title>Asset Tracker</title>
	<% include includes/bootstrapHeader.ejs %>
	<style type="text/css">
		<% include main.css %>
	</style>
</head>
<body>
	<div id="main_div" class="container">
		<% include includes/header.ejs %>

		<div>
			<label>Search by Asset Name:</label><br>
			<input id='search_context' type='text' placeholder='Couch'><br>

			<label>Order By:</label><br>
			<select id='order_by'>
				<option value='asset_name'>Asset Name</option>
				<option value='quantity'>Quantity</option>
				<option value='asset_value'>Unit Value</option>
			</select><br><br>

			<button id="filter">Search</button><br>
		</div><hr>

		<table class='table'><p></p>
			<thead class='thead-dark'><tr class='border-black'>
				<th class='col text-nowrap'>Asset Name</th>
				<th class='col text-nowrap'>Quantity</th>
				<th class='col text-nowrap'>Unit Value</th>
				<th class='col text-nowrap'>Total Value</th>
				</tr>
			</thead>
			<tbody id="assets">


			</tbody>
			<thead class='thead-dark'><tr class='border-black'><th scope='row'>Total Asset Worth</th>
				<th colspan="2"></th>
				<th id="total"></th></tr>
			</thead>
		</table>

		<% include includes/footer.ejs %>
		<% include includes/bootstrapFooter.ejs %>

		<script>
			function GetAssets(search_string, order) {
				$.get("/AssetTracker/AssetList", { search_context: search_string }, function(data) {
						var table = "";
						var total = 0;
						data.forEach( function(element) {
							table += "<tr><td>";
							table += element.asset_name;
							table += "</td><td>";
							table += element.quantity;
							table += "</td><td>";
							table += element.asset_value;
							table += "</td><td>";
							table += element.quantity * element.asset_value;
							total += element.quantity * element.asset_value;
							table += "</td></tr>";
						});
						$("#total").html("$" + total);
						$("#assets").html(table);
				});
			}
			$(document).ready(
				function () {
				GetAssets("", null);

				$("#filter").click(function() {
					var order = $("#order_by option:selected").val();
					var search_string = $("#search_context").val();
					GetAssets(search_string, order);	
				});
			});
		</script>
	</div>
</body>
</html>