<!DOCTYPE html>
<html>
<head>
	<title>Asset Tracker</title>
	<style type="text/css">
		<% include main.css %>
	</style>
	<% include includes/bootstrapHeader.ejs %>
</head>
<body>
	<div id="main_div">
		<% include includes/header.ejs %>

		<% include includes/footer.ejs %>
		<% include includes/bootstrapFooter.ejs %>
	</div>
</body>
</html>