<!DOCTYPE html>
<html>
<head>
	<title>Login Services</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<% include includes/bootstrapHeader.ejs %>
</head>
<body>
	<div class="container h-100 d-flex justify-content-center">
		<div class="jumbotron my-auto">
			<form action="/AssetTracker/login" method="post">
				<label>User Name:</label><br>
				<input type="text=" size="40" name="user_name"><br>
				<label>Password:</label><br>
				<input type="password" size="40" name="password"><br><br>
				<button type="submit" class="btn btn-block">Login</button><br>
			</form>	
		</div>
	</div>
	<% include includes/bootstrapFooter.ejs %>
</body>
</html>