<!DOCTYPE html>
<html>
<head>
	<title>Login Services</title>
	<% include includes/bootstrapHeader.ejs %>
	<style type="text/css">
		<% include main.css %>
	</style>
</head>
<body>
	<div class="container h-100 d-flex justify-content-center">
		<div class="jumbotron my-auto" id="userform">
				
		</div>
	</div>

	<% include includes/errorCodes.ejs %>

	<script>
		function GetSignupPage() {
			$.get('/AssetTracker/newuserpage')
			.done(function(result) {
				$("#userform").html(result);
			});

			return false;
		}

		function GetLoginPage() {
			$.get('/AssetTracker/loginpage')
			.done(function(result) {
				$("#userform").html(result);
			});

			return false;
		}

		function CreateUser() {
			if (!/\(\d{3}\)\s\d{3}-\d{4}/.test($("#number").val())) {
				alert("Phone Number must match this format:\n(xxx) xxx-xxxx");
				return false;
			}

			$.post('/AssetTracker/newuser', $("form").serialize())
			.done(function (result) {
				alert(InsertUserErrors[result]);
			});

			return false;
		}

		$(document).ready(function() {
			GetLoginPage();
		});
	</script>

	<% include includes/bootstrapFooter.ejs %>
</body>
</html>