<!DOCTYPE html>
<html>
<head>
	<title>Person</title>
</head>
<body>
	<% results.forEach(function (row) { %>
	<%= row.person_name %>
	<%= row.father_name %> 
	<%= row.mother_name %> 
	<%= row.child_name %> 
	<% }); %>
</body>
</html>
